/* -- un exemple de css qui regroupe les verbes par niveau et par initiale
 * /
 
.it {color:#808080;}
a[data-tag="A1"]{color:#006400;}
a[data-tag="A2"]{color:1466b8;} /*#4682B4*/
a[data-tag="B1"]{color:#640000;}
a[data-tag="A1"] + a[data-tag="A2"]::before{content: "\a\a\a" attr(data-init) " - " attr(data-tag) " : "; white-space: pre;}	
a[data-tag="A2"] + a[data-tag="B1"]::before{content: "\a\a\a" attr(data-init) " - " attr(data-tag) " : "; white-space: pre;}	
a {text-decoration:none;} /* supprimer les soulignés partout */

a[data-init]::before {content: "\a" attr(data-init) " - " attr(data-tag) " : "; white-space: pre;}	
	

a[data-init="a"]:first-letter {font-weight:bold;} 				
a[data-init="a"] + a[data-init="a"]::before{content: " -- "; white-space: pre;}							
a[data-init="b"] + a[data-init="b"]::before{content: " -- "; white-space: pre;}							
a[data-init="c"] + a[data-init="c"]::before{content: " -- "; white-space: pre;}							
a[data-init="d"] + a[data-init="d"]::before{content: " -- "; white-space: pre;}							
a[data-init="e"] + a[data-init="e"]::before{content: " -- "; white-space: pre;}						
a[data-init="f"] + a[data-init="f"]::before{content: " -- "; white-space: pre;}				
a[data-init="g"] + a[data-init="g"]::before{content: " -- "; white-space: pre;}				
a[data-init="h"] + a[data-init="h"]::before{content: " -- "; white-space: pre;}				
a[data-init="i"] + a[data-init="i"]::before{content: " -- "; white-space: pre;}				
a[data-init="j"] + a[data-init="j"]::before{content: " -- "; white-space: pre;}				
a[data-init="k"] + a[data-init="k"]::before{content: " -- "; white-space: pre;}				
a[data-init="l"] + a[data-init="l"]::before{content: " -- "; white-space: pre;}				
a[data-init="m"] + a[data-init="m"]::before{content: " -- "; white-space: pre;}				
a[data-init="n"] + a[data-init="n"]::before{content: " -- "; white-space: pre;}				
a[data-init="o"] + a[data-init="o"]::before{content: " -- "; white-space: pre;}				
a[data-init="p"] + a[data-init="p"]::before{content: " -- "; white-space: pre;}				
a[data-init="q"] + a[data-init="q"]::before{content: " -- "; white-space: pre;}				
a[data-init="r"] + a[data-init="r"]::before{content: " -- "; white-space: pre;}				
a[data-init="s"] + a[data-init="s"]::before{content: " -- "; white-space: pre;}				
a[data-init="t"] + a[data-init="t"]::before{content: " -- "; white-space: pre;}				
a[data-init="u"] + a[data-init="u"]::before{content: " -- "; white-space: pre;}				
a[data-init="v"] + a[data-init="v"]::before{content: " -- "; white-space: pre;}				
a[data-init="w"] + a[data-init="w"]::before{content: " -- "; white-space: pre;}				
a[data-init="x"] + a[data-init="x"]::before{content: " -- "; white-space: pre;}				
a[data-init="y"] + a[data-init="y"]::before{content: " -- "; white-space: pre;}				
a[data-init="z"] + a[data-init="z"]::before{content: " -- "; white-space: pre;}				
