/*exemple css 
		body {background-color: lightblue;}
			p {background-color: #000000;
				color:#FF0000;}
				*/
/* exemple css qui applique au premier verbe commençant par b, etc.  
    a[data-init="a"] + a[data-init="b"] {display:block;}
*/

.it {color:#808080;}
a {text-decoration:none;} /* supprimer les soulignés partout */
a[data-tag*="A1"]{color:#006400;}
a[data-tag*="A2"]{color:1466b8;} /*#4682B4*/
a[data-tag*="B1"]{color:#640000;}

span.w {color:#ff0000;}
details[title*="ce verbe est traduit par"]{display:none;}

/* -- version avec data-row (numero de ligne par code-tag) */
						
a[data-init]::before {content: "\a" attr(data-init)  " : "; white-space: pre;font-style:it;font-size:small;}	
a[data-row="1"]::before {content:  "\a\a - " attr(data-tag) " - "  "\a" attr(data-init)  " : " ; white-space: pre;font-style:it;font-size:small;}	 

a[data-init="a"] + a + a[data-init="a"]::before{content: " -- "; white-space: pre;}							
a[data-init="b"] + a + a[data-init="b"]::before{content: " -- "; white-space: pre;}							
a[data-init="c"] + a + a[data-init="c"]::before{content: " -- "; white-space: pre;}							
a[data-init="d"] + a + a[data-init="d"]::before{content: " -- "; white-space: pre;}							
a[data-init="e"] + a + a[data-init="e"]::before{content: " -- "; white-space: pre;}						
a[data-init="f"] + a + a[data-init="f"]::before{content: " -- "; white-space: pre;}				
a[data-init="g"] + a + a[data-init="g"]::before{content: " -- "; white-space: pre;}				
a[data-init="h"] + a + a[data-init="h"]::before{content: " -- "; white-space: pre;}				
a[data-init="i"] + a + a[data-init="i"]::before{content: " -- "; white-space: pre;}				
a[data-init="j"] + a + a[data-init="j"]::before{content: " -- "; white-space: pre;}				
a[data-init="k"] + a + a[data-init="k"]::before{content: " -- "; white-space: pre;}				
a[data-init="l"] + a + a[data-init="l"]::before{content: " -- "; white-space: pre;}				
a[data-init="m"] + a + a[data-init="m"]::before{content: " -- "; white-space: pre;}				
a[data-init="n"] + a + a[data-init="n"]::before{content: " -- "; white-space: pre;}				
a[data-init="o"] + a + a[data-init="o"]::before{content: " -- "; white-space: pre;}				
a[data-init="p"] + a + a[data-init="p"]::before{content: " -- "; white-space: pre;}				
a[data-init="q"] + a + a[data-init="q"]::before{content: " -- "; white-space: pre;}				
a[data-init="r"] + a + a[data-init="r"]::before{content: " -- "; white-space: pre;}				
a[data-init="s"] + a + a[data-init="s"]::before{content: " -- "; white-space: pre;}				
a[data-init="t"] + a + a[data-init="t"]::before{content: " -- "; white-space: pre;}				
a[data-init="u"] + a + a[data-init="u"]::before{content: " -- "; white-space: pre;}				
a[data-init="v"] + a + a[data-init="v"]::before{content: " -- "; white-space: pre;}				
a[data-init="w"] + a + a[data-init="w"]::before{content: " -- "; white-space: pre;}				
a[data-init="x"] + a + a[data-init="x"]::before{content: " -- "; white-space: pre;}				
a[data-init="y"] + a + a[data-init="y"]::before{content: " -- "; white-space: pre;}				
a[data-init="z"] + a + a[data-init="z"]::before{content: " -- "; white-space: pre;}				

/* -- version sans data-row

a[data-tag*="A1"] + a[data-tag*="A2"]::before{content: "\a\a\a" attr(data-init) " - " attr(data-tag) " : "; white-space: pre; font-style:it;font-size:small;}	
a[data-tag*="A2"] + a[data-tag*="B1"]::before{content: "\a\a\a" attr(data-init) " - " attr(data-tag) " : "; white-space: pre; font-style:it;font-size:small;}	

a[data-init]::before {content: "\a" attr(data-init) " - " attr(data-tag) " : "; white-space: pre;font-style:it;font-size:small;}	
				
*/
	
    
